<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>

<body>
    <p>
        In our browsing interface, we create a poster layer
        that displays the video chapter in slides and the spoken material in
        the video in a poster format. The poster layer can be interactively
        navigated to other layers by click the content such as title, text, and figure.
    </p>
    <p>
        To allow users to associate the video with the slide in a convenient way, we designed
        the video layer as illustrated in video. Users can change the number of slides to be displayed. And the slides
        on the right will change in sync with the video as it plays. A click operation on the
        slide allows users to fast-forward the video to the specific segment
        they want to see.
    </p>
    <p>
        To fulfill the usage case (as we discovered in the preliminary study), in which users choose to read text rather
        than video, we designed the slide layer. Users can
        view the detail information of the specific slide. In addition, users can navigate to other layers
        using a simple click operation.
    </p>
    <p>
        In contrast to previous
        video browsing interface, we adopt Responsive Web Design
        so that users can achieve better experience when accessing
        it with mobile browsers.
    </p>
</body>

</html>